body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

video.custom-video,
img.custom-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: 20px;
}

.hidden {
    display: none;
}